@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.dark {
  --bg-color: #171717;
  --text-color: #E5E5E5 !important;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}
.main{
  width: 70% !important;
}

.aside{
  width: 30% !important;
}

img {
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}



.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffc639 94%, #0000) top/16px 16px no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 0.5s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}

.navbar{
  background-color: rgba(56, 56, 56, 0.3);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 10px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 40px;
}

.gradient-bg-title {
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.dropdownMenu {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 22%;
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(56, 56, 56, 0.2);
  border: 1px solid #171717;
  border-radius: 10px;
}

.dropdownMenu::before{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: rgba(56, 56, 56, 0.2);
  border-left: 1px solid #171717;
  border-top: 1px solid #171717;
 
}

@media screen and (max-width: 768px) {
  .dropdownMenu {
    width: 80%; /* Lebar penuh */
    top: 5rem; /* Sesuaikan jarak dari atas */
    right: 15px;
    border-radius: 0; /* Hapus border radius */
    border: none; /* Hapus border */
    background-color: rgba(56, 56, 56, 0.2); /* Sesuaikan opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan shadow */
    border-radius: 10px;
  }

  .dropdownMenu::before {
    content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.8rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: rgba(56, 56, 56, 0.2);
  border-left: 1px solid #171717;
  border-top: 1px solid #171717;
  }
}

.userImage {
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  object-fit: cover; 
}

.swiper-pagination {
  width: auto !important;
}

.swiper-pagination {
	position: absolute;
	top: 10px;
	right: 25%;
	width: auto !important;
	left: auto !important;
	margin: 0;
}

.swiper-pagination-bullet {
  width: 10px !important; /* Lebar bullet */
  height: 10px !important; /* Tinggi bullet */
}

.swiper-pagination-bullet-active {
  background: #ffc639 !important; 
}

@media (max-width: 768px) {
  .swiper-pagination {
    position: absolute;
    top: 10px;
    right: 38%;
    width: auto !important;
    left: auto !important;
    margin: 0;
  }

  .swiper-pagination-bullet {
    width: 7px !important; /* Lebar bullet */
    height: 7px !important; /* Tinggi bullet */
  }

  .warnaTeks {
    color: #E5E5E5;
  }
}
